/* navbar */
.navbar-nav .nav-link {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.navbar-dark {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.navbar.bg-primary {
  border-bottom: 1px solid #43889d;
}

.dropdown-item:hover, .dropdown-item:focus {
    background-color: #51a2bb;
    color: #fff;
}

.navbar-brand:hover {
  color: #51a2bb !important;
}

/* general */

h1, h2, h3, h4, h5, h6, .navbar-brand {
  font-family: 'Merriweather', serif;
}

p, a {
  font-family: 'Raleway', sans-serif;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.btn {
  font-weight: 200;
  text-transform: uppercase;
}

.bg-gray {
  background-color: #fafafa;
}

.bg-darker {
  background-color: #222;
}

/* jumbotron */
.jumbotron {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/img/city-scape.jpg);
  background-size: cover;
  background-attachment: fixed;
  border-radius: 0;
  margin-bottom: 0;
}

/* features */
.features img, .blog img {
  box-shadow: 0px 4px 22px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.features img:hover, .blog img:hover {
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.25);
}

/* pricing table */
.pricing {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}

.pricing-item {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  align-items: stretch;
  text-align: center;
  -webkit-flex: 0 1 330px;
  flex: 0 1 330px;
}

.pricing-action {
  color: inherit;
  border: none;
  background: none;
}

.pricing-action:focus {
  outline: none;
}

.pricing-feature-list {
  text-align: left;
}

.pricing-palden .pricing-item {
  font-family: 'Raleway', sans-serif;
  cursor: default;
  background: #fff;
  box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
  border-radius: 2px;
  margin: 1em;
}

@media screen and (min-width: 66.25em) {
  .pricing-palden .pricing-item {
    margin: 1em -0.5em;
  }

  .pricing-palden .pricing__item--featured {
    margin: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(46, 59, 125, 0.23);
  }
}

.pricing-palden .pricing-deco {
  border-radius: 2px;
  padding: 4em 0 9em;
  position: relative;
}

.pricing-palden .pricing-deco-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 160px;
}

.pricing-palden .pricing-title {
  font-size: 0.75em;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #fff;
}

.pricing-palden .deco-layer {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.pricing-palden .pricing-item:hover .deco-layer--1 {
  -webkit-transform: translate3d(15px, 0, 0);
  transform: translate3d(15px, 0, 0);
}

.pricing-palden .pricing-item:hover .deco-layer--2 {
  -webkit-transform: translate3d(-15px, 0, 0);
  transform: translate3d(-15px, 0, 0);
}

.pricing-palden .icon {
  font-size: 2.5em;
}

.pricing-palden .pricing-price {
  font-size: 5em;
  font-weight: bold;
  padding: 0;
  color: #fff;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}

.pricing-palden .pricing-currency {
  font-size: 0.15em;
  vertical-align: top;
}

.pricing-palden .pricing-period {
  font-size: 0.15em;
  padding: 0 0 0 0.5em;
  font-style: italic;
}

.pricing-palden .pricing__sentence {
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
}

.pricing-palden .pricing-feature-list {
  margin: 0;
  padding: 0.25em 0 2.5em;
  list-style: none;
  text-align: center;
}

.pricing-palden .pricing-feature {
  padding: 1em 0;
}

.pricing-palden .pricing-action {
  font-weight: bold;
  margin: auto 3em 2em 3em;
  padding: 1em 2em;
  color: #fff;
  border-radius: 2px;
  background: #4d4766;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.pricing-palden .pricing-action:hover, .pricing-palden .pricing-action:focus {
  background-color: #100A13;
}

.pricing-palden .pricing-item--featured .pricing-deco {
  padding: 5em 0 8.885em 0;
}

/* testimonial */
p.testimonial {
  font-family: 'Merriweather', serif;
  font-style: italic;
  line-height: 175%;
  text-align: center;
  font-size: 16px;
  color: #555;
}

.fa-circle {
  text-shadow: 0 0 1px #555;
}

/* cta one */
.cta-one {
  background: linear-gradient(0deg, rgba(81, 162, 187, 0.86), rgba(81, 162, 187, 0.86)), url(assets/img/city-scape.jpg);
}

/* features two */
.features-two img {
  max-width: 120px;
}

/* contact form */
.contact {
  padding: 5rem 0;
}

.contact ul.social {
  padding-left: 0;
}

.contact .social li {
  display: inline-block;
}

.contact .social li a {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
  margin: .4rem .1rem;
  text-align: center;
  text-decoration: none;
  background: #fff;
  color: #696b6e;
  border: 0.1rem solid #dfe1e5;
  border-radius: 499rem;
  line-height: 1.4;
  font-size: 1.4rem;
}

.contact .social li a:hover {
  color: #59a0d7;
  border-color: #59a0d7;
}

.contact .form-control-custom {
  border: 0.1rem solid #dfe1e5;
  width: 100%;
  padding: 1rem;
  font-size: .9rem;
  color: #696b6e;
  border-radius: .3rem;
}

.contact .form-control-custom:focus {
  border: 0.1rem solid #59a0d7;
  outline: none;
}

.contact .contact-details {
  padding-top: 2rem;
  padding-bottom: 0rem;
}

/* footer */
footer li {
  margin-bottom: 10px;
  font-weight: 200;
  font-size: 17px;
  list-style-type: none;
}

footer a {
  color: #fff;
}

footer a:hover {
  text-decoration: none;
}

footer .social {
  float: right;
}
